@tailwind base;
@tailwind components;
@tailwind utilities;

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: #E5F1FC !important;
}

select:invalid {
    color: #8DA4BF;
}

@media screen and (min-width: 768px) {
    .css-9emuhu-MuiPaper-root-MuiDrawer-paper {
        width: 500px;
        margin: auto;
    }
}